<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/indexStyles.css">
 <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>

<body>
  <!--  <div class="header"><h1>Заголовок</h1></div>-->

  <nav>
    <div class="logo">
      <a href="/"><h4>Заголовок</h4></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/search">Поиск</a>
      </li>
      <li id="showIfNotLogged">
        <a  href="/users/login">Войти</a>
      </li>
      <li id="showIfNotLogged">
        <a href="/users/register">Зарегистрироваться</a>
      </li>
      <!-- <li>
        <a href="#">Связаться с нами</a>
      </li> -->
      <li id="showIfLogged" class="hide">
        <a href="/profile/">Моя страница</a>
      </li>
      <li id="showIfLogged" class="hide">
        <a href="/users/register_end">Настройки</a>
      </li>
      <li id="showIfLogged" class="hide">
        <a href="/users/logout">Выход</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <div class="dummy-div">

  </div>
  <div class="content">
    <div class="welcome-div">
      <div class="welcome-image">
      </div>
      <div class="welcome-container">
        <div class="boxW welcome-words">
          Крутые вступительные слова побуждающие воспользоваться сайтом
        </div>
        <div class="boxW search">
          <h2>Меня интересует</h2>
          <form class="searchForm" action="/search/go" method="POST">

            <select class="selection" name="searchSelector" id="searchSelector">
              <option value="2">Мастерство выпивания пива</option>
              <option value="3">Техника прогуливания пар</option>
              <option value="4">Искусство ругательств</option>
              <option value="5">Навык курения</option>
              <option value="6">Рыгание</option>
            </select>

            <input type="submit" name="submit" value="НАЙТИ ВЫБРАННОЕ">

          </form>
        </div>
      </div>
    </div>
    <div class="white-content">
      <div class="slider-header"><h2>Наши эксперты</h2></div>
      <div class="carousel-container-teachers">
        <i class="fas fa-chevron-left" id="prevBtn" ></i>
        <i class="fas fa-chevron-right" id="nextBtn"></i>

        <div class="carousel-slide">
          <div class="thirdRev" id="lastClone" name="teacherDivSlide">
            <div class="teacher-cont">
              <div class="avatar"><img id="avatar3" height="300px" width="200px" alt="Нет аватара"></div>
            <a class="name">  </a>
            <div class="average"></div>
            <div class="subject"></div>
            <div class="achievements"></div>
          </div></div>

          <div class="firstRev" name="teacherDivSlide">
            <div class="teacher-cont">

            <div class="avatar"><img id="avatar1" height="300px" width="200px" alt="Нет аватара"></div>
            <a class="name">  </a>
            <div class="average"></div>
            <div class="subject"></div>
            <div class="achievements"></div>
          </div>
          </div>

          <div class="secondRev" name="teacherDivSlide">
            <div class="teacher-cont">
              <div class="avatar"><img id="avatar2" height="300px" width="200px" alt="Нет аватара"></div>
              <a class="name">  </a>
            <div class="average"></div>
            <div class="subject"></div>
            <div class="achievements"></div>
          </div>
          </div>

          <div class="thirdRev" name="teacherDivSlide">
            <div class="teacher-cont">
              <div class="avatar"> <img id="avatar3" height="300px" width="200px" alt="Нет аватара"></div>
              <a class="name">  </a>
            <div class="average"></div>
            <div class="subject"></div>
            <div class="achievements"></div>
          </div>
          </div>

          <div class="firstRev" id="firstClone" name="teacherDivSlide">
            <div class="teacher-cont">
              <div class="avatar"><img id="avatar1" height="300px" width="50%" alt="Нет аватара"></div>
              <a class="name">  </a>
            <div class="average"></div>
            <div class="subject"></div>
            <div class="achievements"></div>
          </div>
          </div>
        </div>
      </div>
      

    </div>
    <div class="inspirational-text">
      <div class="following-image">
      </div>
      <div class="insp-div">
        <h2>Ну че, не ожидали?</h2>
        А тут то тем временем еще текст подъехал. Типа, пользуйтесь нашим сайтом, и все ваще четко будет. Иначе
        сдохнете<br><br>Не поняли что ли? давайте пользуйтесь уже!
      </div>
    </div>
  </div>
  <div class="second-slider-container">
    <div class="slider-header-review"><h2>Наши отзывы</h2></div>
      <div class="carousel-container-review">
        <i class="fas fa-chevron-left" id="prevBtnRev" ></i>
        <i class="fas fa-chevron-right" id="nextBtnRev"></i>

        <div class="carousel-slide-review">
          <div class="thirdReview" id="lastCloneReview" name="reviewDivSlide">
            <div class="review-cont">
            <div class="review"></div>
            <div class="name-of-customer"></div>
            <div class="subjectRev"></div>
          </div></div>

          <div class="firstReview" name="reviewDivSlide">
            <div class="review-cont">
              <div class="review"></div>
              <div class="name-of-customer"></div>
              <div class="subjectRev"></div>
          </div>
          </div>

          <div class="secondReview" name="reviewDivSlide">
            <div class="review-cont">
              <div class="review"></div>
              <div class="name-of-customer"></div>
              <div class="subjectRev"></div>
          </div>
          </div>

          <div class="thirdReview" name="reviewDivSlide">
            <div class="review-cont">
              <div class="review"></div>
              <div class="name-of-customer"></div>
              <div class="subjectRev"></div>
          </div>
          </div>

          <div class="firstReview" id="firstCloneReview" name="reviewDivSlide">
            <div class="review-cont">
              <div class="review"></div>
              <div class="name-of-customer"></div>
              <div class="subjectRev"></div>
          </div>
          </div>
        </div>
      </div>
      
  </div>

  <div class="button-box">

      <h2>Просто кнопка</h2>

      <button>Искать!</button>
  </div>

  <div class="footer">
    <div class="page-wrapper">
    </div>
    <div class="footer-content">
      Тут типа подвал сайта. Всякая хрень, копирайты, соцсети итд
    </div>

    <div class="footer-bottom">
      &copy; Designed by Andrey Grigoryev
    </div>
  </div>
  <script src="/js/mainPage.js"></script>
  <script>
    var Base64 = {
      _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
      encode: function (e) {
        var t = "";
        var n, r, i, s, o, u, a;
        var f = 0;
        e = Base64._utf8_encode(e);
        while (f < e.length) {
          n = e.charCodeAt(f++);
          r = e.charCodeAt(f++);
          i = e.charCodeAt(f++);
          s = n >> 2;
          o = (n & 3) << 4 | r >> 4;
          u = (r & 15) << 2 | i >> 6;
          a = i & 63;
          if (isNaN(r)) {
            u = a = 64
          } else if (isNaN(i)) {
            a = 64
          }
          t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this
            ._keyStr.charAt(a)
        }
        return t
      },
      decode: function (e) {
        var t = "";
        var n, r, i;
        var s, o, u, a;
        var f = 0;
        e = e.replace(/[^A-Za-z0-9\+\/\=]/g, "");
        while (f < e.length) {
          s = this._keyStr.indexOf(e.charAt(f++));
          o = this._keyStr.indexOf(e.charAt(f++));
          u = this._keyStr.indexOf(e.charAt(f++));
          a = this._keyStr.indexOf(e.charAt(f++));
          n = s << 2 | o >> 4;
          r = (o & 15) << 4 | u >> 2;
          i = (u & 3) << 6 | a;
          t = t + String.fromCharCode(n);
          if (u != 64) {
            t = t + String.fromCharCode(r)
          }
          if (a != 64) {
            t = t + String.fromCharCode(i)
          }
        }
        t = Base64._utf8_decode(t);
        return t
      },
      _utf8_encode: function (e) {
        e = e.replace(/\r\n/g, "\n");
        var t = "";
        for (var n = 0; n < e.length; n++) {
          var r = e.charCodeAt(n);
          if (r < 128) {
            t += String.fromCharCode(r)
          } else if (r > 127 && r < 2048) {
            t += String.fromCharCode(r >> 6 | 192);
            t += String.fromCharCode(r & 63 | 128)
          } else {
            t += String.fromCharCode(r >> 12 | 224);
            t += String.fromCharCode(r >> 6 & 63 | 128);
            t += String.fromCharCode(r & 63 | 128)
          }
        }
        return t
      },
      _utf8_decode: function (e) {
        var t = "";
        var n = 0;
        var r = c1 = c2 = 0;
        while (n < e.length) {
          r = e.charCodeAt(n);
          if (r < 128) {
            t += String.fromCharCode(r);
            n++
          } else if (r > 191 && r < 224) {
            c2 = e.charCodeAt(n + 1);
            t += String.fromCharCode((r & 31) << 6 | c2 & 63);
            n += 2
          } else {
            c2 = e.charCodeAt(n + 1);
            c3 = e.charCodeAt(n + 2);
            t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
            n += 3
          }
        }
        return t
      }
    }
      


    let teachersResults  = <%- teachersFunction() %>;
    teachersResults = JSON.parse(teachersResults);

    let reviewResults = <%- reviewsFunction() %>;
    reviewResults = JSON.parse(reviewResults);
    console.log(reviewResults);
    let divname = [];

    teachersResults.forEach((item, i, arr) => {
      

    switch (i) {
      case 0:
      divname = document.querySelectorAll('.firstRev');
      break;
      case 1:
      divname = document.querySelectorAll('.secondRev');
      break;
      case 2:
      divname = document.querySelectorAll('.thirdRev');
      break;
      default:
      divname = document.querySelector('.firstRev');
    }


    divname.forEach((item, ind, arr) => {
    arr[ind].querySelector(`#avatar${i+1}`).src = `/userPhotos/${teachersResults[i].id}.jpg`;

    arr[ind].querySelector('.name').innerHTML = teachersResults[i].first_name +" " + teachersResults[i].last_name;
    arr[ind].querySelector('.name').href = "/profile/" + teachersResults[i].id;
    arr[ind].querySelector('.average').innerHTML = `<span class="averSpan">Средняя оценка:  </span><span class="averNumSpan">${teachersResults[i].average}</span>`;
    arr[ind].querySelector('.achievements').innerHTML = `<span>Достижения: </span>${teachersResults[i].achievements}`;
    arr[ind].querySelector('.subject').innerHTML = `<span>Предмет: </span>${teachersResults[i].subject}`; 
    });

    
    });


    reviewResults.forEach((item, i, arr) => {
        
      switch (i) {
        case 0:
          divname = document.querySelectorAll('.firstReview');
          break;
        case 1:
          divname = document.querySelectorAll('.secondReview');
          break;
        case 2:
          divname = document.querySelectorAll('.thirdReview');
          break;
        default: 
         divname = document.querySelector('.firstReview');
      }

      divname.forEach((item, ind, arr) => { 
        arr[ind].querySelector('.review').innerHTML = `"${reviewResults[i].review}"`;
        arr[ind].querySelector('.name-of-customer').innerHTML = `Имя ученика: ${reviewResults[i].full_name}`;
        arr[ind].querySelector('.subjectRev').innerHTML = `Предмет: ${reviewResults[i].subject}`;
      });
    });

    let isOk = <%= okOk %>;

  </script>
    <script src="/js/nav.js"></script>
</body>

</html>