<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешно!</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/successfullBuy.css">
</head>
<body>
    <div class="wrapper">
    Вы купили <%= numberOfLessons %> уроков <br>
    Цена составила <%= price %> рублей <br>
    Связаться вот так вот <br>
    Все выслано вам на электронную почту и мобильный телефон <br><br><br>

    <a  href="/">на главную</a>
</div>
</body>
</html>