<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Вы купили <%= numberOfLessons %> уроков <br>
    Цена составила <%= price %> рексов <br>
    Связаться вот так вот
    Все выслано вам на электронную почту и мобильный телефон

    <a  href="/">Домой</a>
</body>
</html>