html,body{
  background-color: white;
  color: #0d1d4a;
}

.form-wrapper {
  position: relative;
  min-height: 90vh;
  min-width: 100%;
}

.boxR{
  width:900px;
  height: 800px;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  background: #f1f4f9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(77, 77, 77, 0.2);
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.box1 {
  display: flex;
  flex-direction: column;
}



.box1 select {
  background: white;
  color:#0d1d4a;
  width:300px;
  padding:10px;
  border:none;
  outline:none;
  border-radius: 10px;
  box-shadow: 8px 8px 7px rgba(197, 197, 197, 0.4);  
}

.box7 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.box8 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.boxR h1{
  font-weight: 500;
}
.boxR input[type="text"]{
  border:0;
  background:white;
  display:block;
  margin: 10px auto; 
  text-align: left;
  padding: 10px 10px;
  width:300px;
  outline:none;
  border-radius: 14px;
  box-shadow: 8px 8px 7px rgba(197, 197, 197, 0.4);  
}
.boxR textarea{
  border:0;
  background:white;
  display:block;
  margin: 10px auto;
  text-align: left;
  padding: 10px 10px;
  width:300px;
  outline:none;
  border-radius: 14px;
  box-shadow: 8px 8px 7px rgba(197, 197, 197, 0.4);  
}
.boxR input[type="submit"]{
  border:0;
  background: none;
  display:block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #D83F87;
  padding: 14px 40px;
  outline:none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box > label {
  position: absolute;
  left: 60px;
  top: 0;
}

.box7 {
  display: inline-block;
}

.box7 > label {
  position: relative;
  left: auto;
  top: auto;
}

.box5 > span {
  position: absolute;
  right: 70px;
  opacity: 0.5;
}

.box > input[type="checkbox"] {
  display: none;
}

.box7 > label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
}

.box7 > input[type="checkbox"]:checked + .box7 > label::before {
    background-color: red;
}