.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.confirmForm {
    position: absolute;
    width: 500px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #f1f4f9;
    color: #0d1d4a;
    z-index: 8;
    border-radius: 20px;
    box-shadow: 25px 25px 50px #9599a1;
    display: grid;
    grid-template-columns: 1fr;
}

.confirmForm>div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.confirmForm>div>input {
    border-radius: 10px;
    border: 0;
    background: white;
    margin: 10px auto;
    border: 0;
    padding: 10px 10px;
    width: 400px;
    height: 50px;
    outline: none;
    font-size: 17px;
    text-align: left;
}

.confirmForm>div>input[type="submit"] {
    border: 0;
    height: 50px;
    width: 300px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f635a7;
    color: #f635a7;
    padding: 14px 40px;
    outline: none;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.confirmForm>div>input[type="submit"]:hover {
    background: #f635a7;
    color: white;
}

.header {
    margin: 30px 0px;
    font-size: 30px;
    font-weight: bolder;
}

#teacherId {
    display: none;
}