.resultsWrapper{
    min-height: 100%;
}
.teacherBox {
    color: black;
}
.searchContainer {
   color: black;
   margin:20px;
}

.avatar {
    height:100px;
    width:80px;
}

.buyWindow {
  width:500px;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}