
.mainBox{
    width:700px;
    height: 800px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    color:white;
}

.reviewBox > input,
.reviewBox > textarea {
  display:block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 10px;
  width:200px;
  outline:none;
}